# ***Melbourne Housing model: Scikit-Learn***

## ***Get and extract data into a Pandas DataFrame***

In [1]:
import sklearn
import zipfile
from zipfile import ZipFile
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
with ZipFile("melbourne_housing.zip",'r') as zip:
    zip.extractall()

In [5]:
melbourne_data = pd.read_csv("melb_data.csv")
print(type(melbourne_data))
melbourne_data.head()

<class 'pandas.core.frame.DataFrame'>

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [9]:
# Basic statistical values for the Melbourne Dataset

melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [8]:
# All features in the dataset
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [10]:
melbourne_data.dropna(axis=0)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.00,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.00,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.00,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.00,1910.0,Yarra,-37.80240,144.99930,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.00,1890.0,Yarra,-37.80600,144.99540,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12205,Whittlesea,30 Sherwin St,3,h,601000.0,S,Ray,29/07/2017,35.5,3757.0,...,2.0,1.0,972.0,149.00,1996.0,Whittlesea,-37.51232,145.13282,Northern Victoria,2170.0
12206,Williamstown,75 Cecil St,3,h,1050000.0,VB,Williams,29/07/2017,6.8,3016.0,...,1.0,0.0,179.0,115.00,1890.0,Hobsons Bay,-37.86558,144.90474,Western Metropolitan,6380.0
12207,Williamstown,2/29 Dover Rd,1,u,385000.0,SP,Williams,29/07/2017,6.8,3016.0,...,1.0,1.0,0.0,35.64,1967.0,Hobsons Bay,-37.85588,144.89936,Western Metropolitan,6380.0
12209,Windsor,201/152 Peel St,2,u,560000.0,PI,hockingstuart,29/07/2017,4.6,3181.0,...,1.0,1.0,0.0,61.60,2012.0,Stonnington,-37.85581,144.99025,Southern Metropolitan,4380.0
12212,Yarraville,54 Pentland Pde,6,h,2450000.0,VB,Village,29/07/2017,6.3,3013.0,...,3.0,2.0,1087.0,388.50,1920.0,Maribyrnong,-37.81038,144.89389,Western Metropolitan,6543.0

## ***Select target and features from dataset***

In [24]:
# Select the target for the predictions

y = melbourne_data.Price
type(y)

pandas.core.series.Series

In [25]:
# Select features

melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
x = melbourne_data[melbourne_features]
x.describe()

              Rooms      Bathroom       Landsize     Lattitude    Longtitude
count  13580.000000  13580.000000   13580.000000  13580.000000  13580.000000
mean       2.937997      1.534242     558.416127    -37.809203    144.995216
std        0.955748      0.691712    3990.669241      0.079260      0.103916
min        1.000000      0.000000       0.000000    -38.182550    144.431810
25%        2.000000      1.000000     177.000000    -37.856822    144.929600
50%        3.000000      1.000000     440.000000    -37.802355    145.000100
75%        3.000000      2.000000     651.000000    -37.756400    145.058305
max       10.000000      8.000000  433014.000000    -37.408530    145.526350

In [26]:
x.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941

## ***Decision Tree model***

In [27]:
from sklearn.tree import DecisionTreeRegressor

decision_model = DecisionTreeRegressor(random_state=42)
decision_model.fit(x, y)

DecisionTreeRegressor(random_state=42)

In [32]:
# Making initial predictions
print("Making predictions for the following data: ")
print(x.head())
print(melbourne_data[['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude','Price']].head())
print("\n The precitions: ")
print(decision_model.predict(x.head()))

Making predictions for the following data:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941
   Rooms  Bathroom  Landsize  Lattitude  Longtitude      Price
0      2       1.0     202.0   -37.7996    144.9984  1480000.0
1      2       1.0     156.0   -37.8079    144.9934  1035000.0
2      3       2.0     134.0   -37.8093    144.9944  1465000.0
3      3       2.0      94.0   -37.7969    144.9969   850000.0
4      4       1.0     120.0   -37.8072    144.9941  1600000.0

 The precitions:
[1480000. 1035000. 1465000.  850000. 1600000.]

## ***Model Evaluation: Mean Absolute Error (MAE): In-sample scores***

In [34]:
from sklearn.metrics import mean_absolute_error

predictions = decision_model.predict(x)
mean_absolute_error(y, predictions)

1125.1804614629357

### ***Spliting the data into train & test sets***

In [43]:
from sklearn.model_selection import train_test_split

train_x, val_x, train_y, val_y = train_test_split(x, y , random_state=42)

# Prepare and fit the model on the new datasplit
decision_model = DecisionTreeRegressor(random_state=42)
decision_model.fit(train_x, train_y)

# Make predictions on the validation set
val_predictions = decision_model.predict(val_x)
print(mean_absolute_error(val_y, val_predictions))

241951.7305841924

#### ***The above is the cost error for the validation set (This is way too much)***

### ***Function for comparing the depth of the tree to the MAE***

In [45]:
def get_mae(max_leaf_nodes, train_x, val_x, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=42)
    model.fit(train_x, train_y)
    preds_val = model.predict(val_x)
    return (mean_absolute_error(val_y, preds_val))

### ***Find the best size for max leaf nodes for the Decision Tree***

In [54]:
# Test the function for different values of tree depths
min_mae = 1000000000

for max_leaf_nodes in [5, 25, 50, 100, 250, 500]:
    mae = get_mae(max_leaf_nodes, train_x, val_x, train_y, val_y)
    if (mae < min_mae):
        min_mae = mae
        best_nodes_size = max_leaf_nodes
    print("Max Leaf nodes: ",max_leaf_nodes,"\t\tMean Absolute error: ",mae)
print("\n\n Best choice for the maximum number of nodes is: ",best_nodes_size)

Max Leaf nodes:  5 		Mean Absolute error:  353119.2126692225
Max Leaf nodes:  25 		Mean Absolute error:  281129.59720932756
Max Leaf nodes:  50 		Mean Absolute error:  255724.2842347583
Max Leaf nodes:  100 		Mean Absolute error:  240630.8079006742
Max Leaf nodes:  250 		Mean Absolute error:  229236.8622883752
Max Leaf nodes:  500 		Mean Absolute error:  223502.14955904867


 Best choice for the maximum number of nodes is:  500

#### ***From the options listed we can say that 500 is the optimal choice***

### ***Final model for Decision Tree***

In [55]:
# Define the model
decision_final_model = DecisionTreeRegressor(max_leaf_nodes=best_nodes_size)

# Fit on all the data
decision_final_model.fit(x, y)

# Evaluate the model
final_preds = decision_final_model.predict(val_x)
print("Final MAE: ",mean_absolute_error(val_y, final_preds))

Final MAE:  158032.37510740012

#### ***Earlier we had the MAE much higher, now that we found the better max leaf nodes so the MAE has decreased***

## ***Random Forest model***

In [61]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=42)
forest_model.fit(train_x, train_y)
forest_preds = forest_model.predict(val_x)
print("Mean absolute error for Random Forests model: ",mean_absolute_error(val_y, forest_preds))

Mean absolute error for Random Forests model:  179114.98082615188

#### ***The above result is good for the initial default parameters; we can also further tune the parameters to improve the performance***